:root {
  --border-radius: 50%;
}

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: Christmas-Soul;
  src: url("../fonts/Christmas-Soul.ttf");
}
@font-face {
  font-family: SketchIcons;
  src: url("../fonts/SketchIcons.ttf");
}

body {
  position: relative;
  background: rgb(9, 13, 36);
  background: linear-gradient(
    0deg,
    rgba(9, 13, 36, 1) 0%,
    rgba(50, 91, 134, 1) 6%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100vh;
  overflow: hidden;
}

/* ---------------MOON-------------- */

section {
  display: flex;
  justify-content: flex-end;
}

section div {
  width: 15vw;
  height: 15vw;
  margin: 10vh;
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(175, 176, 167),
    inset -20px 0 80px rgb(157, 162, 162), inset 20px 0 300px rgb(239, 239, 212),
    inset -20px 0 300px rgb(169, 192, 192), 0 0 50px #fff,
    -10px 0 80px rgb(191, 196, 141), 10px 0 80px #0ff;
  animation: moonShimmer 5s;
  animation-iteration-count: infinite;
}

@media (max-width: 769px) {
  section div {
    margin: 15vw;
    width: 25vw;
    height: 25vw;
  }
}

@media (max-width: 480px) {
  section div {
    margin: 20vw;
    width: 35vw;
    height: 35vw;
  }
}

@keyframes moonShimmer {
  0% {
  }
  25% {
  }
  50% {
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(175, 176, 167),
      inset -20px 0 80px rgb(157, 162, 162),
      inset 20px 0 300px rgb(239, 239, 212),
      inset -20px 0 300px rgb(169, 192, 192), 0 0 50px #fff,
      -10px 0 80px rgb(191, 196, 141), 10px 0 80px #0ff;
  }
  75% {
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(255, 255, 255),
      inset -20px 0 80px rgb(255, 255, 255),
      inset 20px 0 300px rgb(239, 239, 212),
      inset -20px 0 300px rgb(255, 255, 255), 0 0 50px #fff,
      -10px 0 80px rgb(255, 255, 255), 10px 0 80px rgb(255, 255, 255);
  }
  100% {
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(175, 176, 167),
      inset -20px 0 80px rgb(157, 162, 162),
      inset 20px 0 300px rgb(239, 239, 212),
      inset -20px 0 300px rgb(169, 192, 192), 0 0 50px #fff,
      -10px 0 80px rgb(191, 196, 141), 10px 0 80px #0ff;
  }
}

/* -------------GREETING--------------- */

main {
  position: relative;
}

@media (max-width: 769px) {
  #greetingContainer {
    display: flex;
   margin-left: 9vw;
  }
}

.HappyHolidays {
  display: flex;
  font-family: Christmas-Soul, sans-serif;
  font-size: 10vw;
  position: fixed;
  top: 37vh;
  z-index: 4;
}

.HappyHolidays div {
  color: red;
  text-shadow: 0 0 10px #ffffff;
  min-width: 2vw;
  animation: fadeIn 1s, glow 5s infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 15px #ffffff;
  }
  50% {
    text-shadow: 0 0 5px #ff4848;
  }
  100% {
    text-shadow: 0 0 15px #ffffff;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -------------SNOW----------- */

#snow {
  position: relative;
}

@media (max-width: 1025px) {
  #snow > div:nth-child(even) {
    opacity: 0;
  }
}

.snowball {
  position: absolute;
  top: -10vh;
  width: 30px;
  height: 30px;
  background-color: snow;
  border-radius: var(--border-radius);
  z-index: 2;
}

.small {
  width: 10px;
  height: 10px;
}

.medium {
  width: 20px;
  height: 20px;
}

.large {
  width: 30px;
  height: 30px;
}

.slowest {
  animation: snowFallAnimation1 10s;
  animation-iteration-count: infinite;
}

.slow {
  animation: snowFallAnimation2 10s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.normal {
  animation: snowFallAnimation3 10s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.fast {
  animation: snowFallAnimation4 10s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

.fastest {
  animation: snowFallAnimation5 10s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

@keyframes snowFallAnimation1 {
  0% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(100vh);
  }
}

@keyframes snowFallAnimation2 {
  0% {
    transform: translateY(0vh);
  }

  90% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(100vh);
  }
}

@keyframes snowFallAnimation3 {
  0% {
    transform: translateY(0vh);
  }

  80% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes snowFallAnimation4 {
  0% {
    transform: translateY(0vh);
  }

  70% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes snowFallAnimation5 {
  0% {
    transform: translateY(0vh);
  }

  60% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

.one {
  transform: translateX(5vw);
}
.two {
  transform: translateX(10vw);
}
.three {
  transform: translateX(15vw);
}
.four {
  transform: translateX(20vw);
}
.five {
  transform: translateX(25vw);
}
.six {
  transform: translateX(30vw);
}
.seven {
  transform: translateX(35vw);
}
.eight {
  transform: translateX(40vw);
}
.nine {
  transform: translateX(45vw);
}
.ten {
  transform: translateX(50vw);
}
.eleven {
  transform: translateX(55vw);
}
.twelve {
  transform: translateX(60vw);
}
.thirteen {
  transform: translateX(65vw);
}
.fourteen {
  transform: translateX(70vw);
}
.fifteen {
  transform: translateX(75vw);
}
.sixteen {
  transform: translateX(80vw);
}
.seventeen {
  transform: translateX(85vw);
}
.eighteen {
  transform: translateX(90vw);
}
.nineteen {
  transform: translateX(95vw);
}

.lessOpacity {
  opacity: 0.5;
}
.moreOpacity {
  opacity: 1;
}

.lightLeft {
  animation: snowSwayAnimation1 10s;
  animation-iteration-count: infinite;
}

.lightRight {
  animation: snowSwayAnimation2 10s;
  animation-iteration-count: infinite;
}

.heavyLeft {
  animation: snowSwayAnimation3 10s;
  animation-iteration-count: infinite;
}

.heavyRight {
  animation: snowSwayAnimation4 10s;
  animation-iteration-count: infinite;
}

@keyframes snowSwayAnimation1 {
  0% {
    transform: translateX(0vw);
  }
  25% {
    transform: translateX(-1.25vw);
  }
  50% {
    transform: translateX(0vw);
  }
  75% {
    transform: translateX(1.25vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes snowSwayAnimation2 {
  0% {
    transform: translateX(0vw);
  }
  25% {
    transform: translateX(1.25vw);
  }
  50% {
    transform: translateX(0vw);
  }
  75% {
    transform: translateX(-1.25vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes snowSwayAnimation3 {
  0% {
    transform: translateX(0vw);
  }
  25% {
    transform: translateX(-2.5vw);
  }
  50% {
    transform: translateX(0vw);
  }
  75% {
    transform: translateX(2.5vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes snowSwayAnimation4 {
  0% {
    transform: translateX(0vw);
  }
  25% {
    transform: translateX(2.5vw);
  }
  50% {
    transform: translateX(0vw);
  }
  75% {
    transform: translateX(-2.5vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

/* ------------GROUND---------- */

footer {
  position: relative;
  display: flex;
  justify-content: center;

}

footer div {
  position: fixed;
  background-color: snow;
  width: 135vw;
  height: 22%;
  bottom: -5vh;
  z-index: 1;
}

footer div:nth-child(1) {
  height: 22%;
}

footer div:nth-child(2) {
  width: 85vw;
  transform: rotate(12deg);
  left: -25vw;
  height: 35%;
  border-radius: var(--border-radius);
}

footer div:nth-child(3) {
  height: 30%;
  width: 90vw;
  right: -25vw;
  transform: rotate(-12deg);
  border-radius: var(--border-radius);
}

footer div:nth-child(4) {
  height: 30%;
  width: 100vw;
  border-radius: var(--border-radius);
}

@media (max-width: 769px) {
  footer div:nth-child(4) {
    height: 32%;
    width: 100vw;
    border-radius: var(--border-radius);
  }
  footer div:nth-child(3) {
    height: 32%;
  }
}

@media (max-width: 480px) {
  footer div:nth-child(2) {
    left: -55vw;
    width: 110vw;
    height: 26%;
  }
  footer div:nth-child(4) {
    height: 25%;
  }
  footer div:nth-child(3) {
    height: 25%;
    width: 125vw;
    right: -50vw;
    border-radius: 50%;
  }
}

/* --------------ENVELOP----------- */

#envelop {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}

#envelop div {
  color: black;
  font-family: SketchIcons, sans-serif;
  font-size: 10vw;
  margin: 5vh 5vw;
}

@media (max-width: 769px) {
  #envelop div {
    font-size: 20vw;
    margin: 5vh 5vw;
  }
}

@media (max-width: 480px) {
  #envelop div {
    font-size: 30vw;
    margin: 1vh 5vw;
  }
}

#envelop div:hover {
  color: red;
}
